<section class="abouttrey">
  
  	<img class="headshot" src="https://www.gravatar.com/avatar/93a988bd85040f58f8417dc4be78c7de?s=300">
    <p>Hi!  My name is Trey Hunner.</p>
    <p>I help Python and Django teams <strong>reduce development time</strong> with <a href="http://truthful.technology/">remote &amp; on-site Python training</a>.</p>
    <p>I help individuals <strong>level-up their Python skills</strong> with <a href="http://pythonmorsels.com">weekly Python exercises</a> and live <a href="http://www.pythonchat.com/">Python webcasts</a>.</p>
    <p>I also speak at <a href="/talks">Python conferences</a>.</p>

    <a class="btn" href="http://truthful.technology/">Python Team Training</a>

</section>

