<section class="abouttrey">
  
  	<img class="no-border headshot" src="https://www.gravatar.com/avatar/93a988bd85040f58f8417dc4be78c7de?s=300">
    <p>Hi!  My name is Trey Hunner.</p>
    <p>I help Python teams <strong>write better Python code</strong> through <a href="http://truthful.technology/">Python team training</a>.</p>
    <p>I also help individuals <strong>level-up their Python skills</strong> with <a href="http://pythonmorsels.com">weekly Python skill-building</a>.</p>

    <a class="btn" href="http://truthful.technology/">Python Team Training</a>

</section>

