<!-- Python Morsels Signup Form -->
<section class="morsels-sidebar">
    <h1>Beyond Intro to Python</h1>
    <p>
    Need to fill in <strong>gaps in your Python knowledge</strong>?
    I have just the thing.
    </p>
    <p>
    Intro to Python courses often skip over certain <strong>fundamental Python concepts</strong>.
    I send emails meant help you internalize those concepts without wasting time.
    </p>
    <p>
    This isn't an Intro to Python course.
    It's <strong>Python concepts <em>beyond</em> Intro to Python</strong>.
    Sign up below to get started.
    </p>
    <form action="https://www.getdrip.com/forms/979529738/submissions" method="post" data-drip-embedded-form="979529738">


      <input type="email" name="fields[email]" placeholder="email@domain.com" class="subscribe-email" required>
      <input type="hidden" name="fields[source]" value="sidebar">

      <div style="display: none;" aria-hidden="true">
        <label for="website1">Website</label><br>
        <input type="text" id="website1" name="website" tabindex="-1" autocomplete="false" value="">
      </div>
      <input type="hidden" name="tags[]" value="newsletter" tabindex="-1">


      <input type="submit" value="Sign up" data-drip-attribute="sign-up-button" class="subscribe-btn bright">
    </form>
</section>
