<!-- Drip Signup Form -->
<section>

    <form action="https://www.getdrip.com/forms/121131143/submissions" method="post" data-drip-embedded-form="121131143">
      <h1 data-drip-attribute="headline">Weekly Python Chat</h1>
      <p>I host a live <a href="http://www.weeklypython.chat"><nobr>Weekly Python Chat</nobr></a> during which I answer <strong>your questions</strong> about Python, Django, and related topics. 💻💝</p>
      <p>Sign up for my mailng  list to get announcements about new articles and upcoming Python chats! 📧😄</p>
      <input type="email" name="fields[email]" value="" class="subscribe-email" placeholder="Your email">
        <input type="hidden" name="fields[form_placement]" value="treyhunner.com -- sidebar">
      <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="subscribe-btn">
    </form>

</section>
