<!-- Drip Signup Form -->
<section>

    <form action="https://www.getdrip.com/forms/121131143/submissions" method="post" data-drip-embedded-form="121131143">
      <h1 data-drip-attribute="headline">Write more Pythonic code</h1>
      <p>I answer questions about Python and Django through my email newsletter and live webcasts. &#x1f4bb;&#x1f49d;</p>
      <p>Sign up for Python tips, new article announcements, and invitations to my <a href="http://www.pythonchat.com">live Python webcasts</a>! &#x1f4e7;&#x1f604;</p>
      <input type="email" name="fields[email]" value="" class="subscribe-email" placeholder="Your email">
        <input type="hidden" name="fields[form_placement]" value="treyhunner.com -- sidebar">
      <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="subscribe-btn">
    </form>

</section>
