<!-- Begin MailChimp Signup Form -->
<section>
    <form action="//treyhunner.us12.list-manage.com/subscribe/post?u=cdbc9ae7bf54c3dff2773ea2d&amp;id=d717efe425" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div>

            <h1>Weekly Python Chat</h1>
            <p>I host <a href="http://www.weeklypython.chat">Weekly Python Chat</a> events in which I answer <strong>your questions</strong>. 💻💝</p>
            <p>If you're a curious Python programmer looking to discover what else there is to learn, sign up for my list! 📧😄</p>

            <input type="email" value="" name="EMAIL" class="required subscribe-email" placeholder="Your email">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_cdbc9ae7bf54c3dff2773ea2d_d717efe425" tabindex="-1" value=""></div>
            <input type="hidden" name="SIGNUP" value="Blog Side Bar">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-btn">
        </div>
    </form>
</section>

<!--End mc_embed_signup-->
