<!-- Python Morsels Signup Form -->
<section class="morsels-sidebar">
    <h1>Write Pythonic code</h1>
    {% img "no-border morsels-logo" /images/python-morsels-full-logo.svg "" "Python Morsels logo (adorable snake wrapped around a chocolate cookie)" %}
    <p>
    The best way to improve your skills is to <strong>write more code</strong>, but it's time consuming to figure out what code to write.
    I've made <a href="https://www.pythonmorsels.com/">a Python skill-building service</a> to help solve this problem.
    </p>
    <p>
    Each week you'll get an exercise that'll help you dive deeper into Python and carefully <strong>reflect on your own coding style</strong>.
    The first 3 exercises are free.
    </p>
    <p>
    Sign up below for <strong>three free exercises</strong>!
    <form method="post" action="https://www.pythonmorsels.com/accounts/signup/">
      <input type="email" name="email" placeholder="Your email" class="subscribe-email" required>
      <div style="display :  none" aria-hidden="true">
        <input type="email" name="email2" placeholder="Confirmation email" autocomplete="false">
      </div>
      <div style="display: none;" aria-hidden="true">
        <input type="text" name="full_name" autocomplete="false">
      </div>
      <div style="display: none;" aria-hidden="true">
        <input type="text" name="website" tabindex="-1" placeholder="Website" autocomplete="false" value="">
      </div>
      <input type="hidden" name="form_id" value="sidebar">
      <button type="submit" class="subscribe-btn">Sign up</button>
    </form>
    </p>
    <p>
    <small>
      See the <a href="https://www.pythonmorsels.com/privacy/">Python Morsels Privacy Policy</a>.<br>
      This form is reCAPTCHA protected (see Google <a href="https://policies.google.com/privacy">Privacy Policy</a> &amp; <a href="https://policies.google.com/terms">Terms of Service</a>)
    </small>
    </p>
</section>
