<!-- Python Morsels Signup Form -->
<section class="morsels-sidebar">
    <h1>Write Pythonic code</h1>

    {% img "" /images/trey-gesturing-in-front-of-code-and-repl.png "" "Trey gesturing in front of a Python file and the Python REPL" %}
    <p>
    I can help you write more Pythonic code in 30 minutes each week.
    </p>
    <p>
    I publish weekly screencasts, weekly mini-articles, and monthly exercises on <a href="https://www.pythonmorsels.com/watch-python-screencasts/">Python Morsels</a>.
    It's <strong>just $5/month</strong>.
    </p>
    <form method="post" action="https://www.pythonmorsels.com/accounts/signup/">
      <input type="email" name="email" placeholder="Your email" class="subscribe-email" required>
      <div style="display :  none" aria-hidden="true">
        <input type="email" name="email2" placeholder="Confirmation email" autocomplete="false">
      </div>
      <div style="display: none;" aria-hidden="true">
        <input type="text" name="full_name" autocomplete="false">
      </div>
      <div style="display: none;" aria-hidden="true">
        <input type="text" name="website" tabindex="-1" placeholder="Website" autocomplete="false" value="">
      </div>
      <input type="hidden" name="form_id" value="sidebar">
      <button type="submit" class="subscribe-btn">Try it now</button>
    </form>

    <p>
    <small>
      See the <a href="https://www.pythonmorsels.com/privacy/">Python Morsels Privacy Policy</a>.<br>
      This form is reCAPTCHA protected (see Google <a href="https://policies.google.com/privacy">Privacy Policy</a> &amp; <a href="https://policies.google.com/terms">Terms of Service</a>)
    </small>
    </p>
</section>
