<section>
  <h1>Favorite Posts</h1>
  <ul id="recent_posts">
      <li class="post">
        <a href="/2015/12/python-list-comprehensions-now-in-color/">Python List Comprehensions</a>
      </li>
      <li class="post">
        <a href="/2016/04/how-to-loop-with-indexes-in-python/">How to Loop With Indexes in Python</a>
      </li>
      <li class="post">
        <a href="/2016/11/check-whether-all-items-match-a-condition-in-python/">Check Whether All Items Match a Condition in Python</a>
      </li>
      <li class="post">
        <a href="/2018/04/keyword-arguments-in-python/">Keyword (Named) Arguments in Python: How to Use Them</a>
      </li>
      <li class="post">
        <a href="/2018/03/tuple-unpacking-improves-python-code-readability/">Tuple unpacking improves Python code readability</a>
      </li>
      <li class="post">
        <a href="/2016/02/how-to-merge-dictionaries-in-python/">The Idiomatic Way to Merge Dictionaries in Python</a>
      </li>
      <li class="post">
        <a href="/2016/12/python-iterator-protocol-how-for-loops-work/">The Iterator Protocol: How for Loops Work in Python</a>
      </li>
      <li class="post">
        <a href="/2017/07/craft-your-python-like-poetry/">Craft Your Python Like Poetry</a>
      </li>
      <li class="post">
        <a href="/2018/02/python-range-is-not-an-iterator/">Python: range is not an iterator!</a>
      </li>
      <li class="post">
        <a href="/2015/11/counting-things-in-python/">Counting Things in Python: A History</a>
      </li>
  </ul>
</section>
