{% comment %} Use section tag to work around Octopress's awfully generic body>div styling {% endcomment %}
<section id="funnel-tools-capture" class="bounceInUp">
  <div class="close">&#10005;</div>
  <div class="open">&#8593;</div>

  <div class="title">
    Write more Pythonic code
  </div>

  <div class="description">
    {% img python-morsels-logo /images/python-morsels-logo.svg 132 182.8 %}
    <p>
    Need to <strong>fill-in gaps</strong> in your <strong>Python skills</strong>? I send regular emails designed to do just that.
    </p>

    <form action="https://www.getdrip.com/forms/621117322/submissions" method="post" data-drip-embedded-form="621117322" id="drip-ef-621117322">


      <input type="email" name="fields[email]" id="drip-email" placeholder="email@domain.com" required>
      <input type="hidden" name="fields[source]" value="widget">

      <div style="display: none;" aria-hidden="true">
        <label for="website">Website</label><br>
        <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
      </div>
      <input type="hidden" name="tags[]" id="tags_" value="newsletter" tabindex="-1">


      <input type="submit" value="Sign up for Python Morsels tips" data-drip-attribute="sign-up-button">
    </form>

  </div>
</section>
<section id="morsels-signup-thanks" style="display: none;">

  <p>
  You're nearly signed up.
  You just need to <strong>check your email</strong> and click the link there to <strong>set your password</strong>.
  </p>

  <span class="email-message"></span>

  <p>
  Right after you've set your password you'll receive your first Python Morsels exercise.
  </p>

  {% img python-morsels-full-logo /images/python-morsels-full-logo.svg 226 90 %}

</section>
