{% comment %} Use section tag to work around Octopress's awfully generic body>div styling {% endcomment %}
<section id="funnel-tools-capture" class="bounceInUp">
  <div class="close">&#10005;</div>
  <div class="open">&#8593;</div>

  <div class="title">
    Write more Pythonic code
  </div>

  <div class="description">
    {% img python-morsels-logo /images/python-morsels-logo.svg 132 182.8 %}
    <p>
    I send out 1 Python exercise every week through a Python skill-building service called <a href="https://www.pythonmorsels.com/">Python Morsels</a>.
    </p>
    <p>
    If you'd like to <strong>improve your Python skills every week</strong>, sign up!
    </p>
    <p>
      Read my short <a href="https://www.pythonmorsels.com/privacy/">Privacy Policy</a> and then enter your email below to get started:
    </p>
    <form method="post" action="https://www.pythonmorsels.com/email-signup/">
      <input type="email" name="email" placeholder="email@domain.com">
      <input type="submit" value="Sign me up for Python Morsels!">
    </form>
  </div>
</section>
