<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->

<link href="//fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|family=Raleway:400,300,600" rel="stylesheet">
<link href="{{ root_url document.}}/stylesheets/funnel-tools-capture.css" rel="stylesheet" type="text/css">
<script src="{{ root_url document.}}/javascripts/expired_storage.min.js"></script>
<script src="{{ root_url document.}}/javascripts/funnel-tools-capture.min.js"></script>
<script src="{{ root_url document.}}/javascripts/jquery.toc.min.js"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onTurnstileLoad" async defer></script>
<script>
var turnstileWidgetId;
var pendingForm;

function onTurnstileLoad() {
  var container = document.createElement('div');
  container.id = 'turnstile-container';
  container.style.display = 'none';
  document.body.appendChild(container);

  turnstileWidgetId = turnstile.render('#turnstile-container', {
    sitekey: '0x4AAAAAAC13CzziQFxU69iv',
    execution: 'execute',
    callback: function(token) {
      if (!pendingForm) return;
      var $form = pendingForm;
      pendingForm = null;
      $form.prepend('<input type="hidden" name="cf-turnstile-response" value="' + token + '">');
      $form.off('submit').submit().on('submit');
    }
  });
}

$(document).ready(function () {
  $('form[action="https://www.pythonmorsels.com/accounts/signup/"]').submit(function(event) {
    event.preventDefault();
    pendingForm = $(this);
    turnstile.execute(turnstileWidgetId);
  });
});

</script>
