<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->

<link href="//fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|family=Raleway:400,300,600" rel="stylesheet">
<link href="{{ root_url document.}}/stylesheets/funnel-tools-capture.css" rel="stylesheet" type="text/css">
<script src="{{ root_url document.}}/javascripts/expired_storage.min.js"></script>
<script src="{{ root_url document.}}/javascripts/funnel-tools-capture.min.js"></script>
<script src="{{ root_url document.}}/javascripts/jquery.toc.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LfP0cEUAAAAAAlbI-d5M7xLioNYWX0LDj78gN2b"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('6LfP0cEUAAAAAAlbI-d5M7xLioNYWX0LDj78gN2b', {action: 'visit'}).then(function(token) {
    });
});

$(document).ready(function () {
  $('form[action="https://www.pythonmorsels.com/accounts/signup/"]').submit(function(event) {
    event.preventDefault();
    var $form = $(this);
    grecaptcha.ready(function() {
      grecaptcha.execute('6LfP0cEUAAAAAAlbI-d5M7xLioNYWX0LDj78gN2b', {action: 'signup'}).then(function(token) {
        $form.prepend('<input type="hidden" name="captcha_action" value="signup">');
        $form.prepend('<input type="hidden" name="captcha_token" value="' + token + '">');
        $form.off('submit').submit().on('submit');
      });
    });
  });
});

</script>
