<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->

<link href="//fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|family=Raleway:400,300,600" rel="stylesheet">
<link href="{{ root_url document.}}/stylesheets/funnel-tools-capture.css" rel="stylesheet" type="text/css">
<script src="{{ root_url document.}}/javascripts/expired_storage.min.js"></script>
<script src="{{ root_url document.}}/javascripts/funnel-tools-capture.min.js"></script>
<script src="{{ root_url document.}}/javascripts/jquery.toc.min.js"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onTurnstileLoad" async defer></script>
<script>
var turnstileWidgetId;
function onTurnstileLoad() {
  turnstileWidgetId = turnstile.render('#turnstile-container', {
    sitekey: '0x4AAAAAAC13CzziQFxU69iv',
    size: 'invisible'
  });
}

$(document).ready(function () {
  $('body').append('<div id="turnstile-container" style="display:none"></div>');

  $('form[action="https://www.pythonmorsels.com/accounts/signup/"]').submit(function(event) {
    event.preventDefault();
    var $form = $(this);
    turnstile.execute(turnstileWidgetId).then(function(token) {
      $form.prepend('<input type="hidden" name="captcha_token" value="' + token + '">');
      $form.off('submit').submit().on('submit');
    });
  });
});

</script>
