.abouttrey {
    text-align: center;
}
.abouttrey p {
    text-align: left;
}
.abouttrey .headshot {
    border-radius: 100px;
    width: 200px;
    border: 4px solid #663399;
    margin-bottom: 20px;
}
.abouttrey .btn {
    background: #663399;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 10px;
}
.abouttrey .btn:hover {
    color: #fff;
}

