{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
             data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  <footer>
  {% if excerpted == 'true' %}
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  {% else %}
    <br>
    <p>
    👉  Want to find out what else there is to learn <strong><a href="https://www.getdrip.com/forms/121131143/submissions/new" data-drip-show-form="121131143">subscribe to my email list</a></strong>! 👈
    </p>
  {% endif %}
  </footer>
{% else %}
<div class="entry-content">{{ content }}</div>

<!-- Drip Sign Up Form -->
<form action="https://www.getdrip.com/forms/121131143/submissions" method="post" data-drip-embedded-form="121131143">
  <h2 data-drip-attribute="headline">Learn more through weekly Python chats 🎁</h2>
  <p data-drip-attribute="description">Like my teaching style? Want to learn more? Sign up for attend my <a href="https://www.weeklypython.chat/" rel="nofollow">Weekly Python Chat</a> events so I can answer <strong>your questions</strong> about Python, programming, and life in general.</p>
    <div>
        <label for="drip-email">Email Address</label><br />
        <input type="email" id="drip-email" name="fields[email]" value="" class="subscribe-email form-big">
        <input type="hidden" name="fields[form_placement]" value="treyhunner.com -- bottom of blog post">
    </div>
  <div>
    <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="subscribe-btn form-big">
  </div>
</form>

{% endif %}
