<section id="funnel-tools-capture" class="bounceInUp">
  <div class="close">&#10005;</div>
  <div class="open">&#8593;</div>

  <div class="title">
  Concepts Beyond Intro to Python
  </div>

  <div class="description">
    {% img python-morsels-logo /images/python-morsels-logo.svg 132 182.8 %}
    <p>
    Intro to Python courses often skip over some <strong>fundamental Python concepts</strong>.
    </p>
    <p>
    Sign up below and I'll share ideas <strong>new Pythonistas often overlook</strong>.
    </p>

    <form action="https://www.getdrip.com/forms/979529738/submissions" method="post" data-drip-embedded-form="979529738" id="drip-ef-979529738">


      <input type="email" name="fields[email]" id="drip-email" placeholder="email@domain.com" required>
      <input type="hidden" name="fields[source]" value="widget">

      <div style="display: none;" aria-hidden="true">
        <label for="website">Website</label><br>
        <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
      </div>
      <input type="hidden" name="tags[]" id="tags_" value="lead magnet - concepts beyond intro" tabindex="-1">


      <input type="submit" value="Sign up for Python Concepts" data-drip-attribute="sign-up-button">
    </form>

  </div>
</section>
<section id="morsels-signup-thanks" style="display: none;">

  <p>
  You're nearly signed up.
  You just need to <strong>check your email</strong> and click the link there to <strong>set your password</strong>.
  </p>

  <span class="email-message"></span>

  <p>
  Right after you've set your password you'll receive your first Python Morsels exercise.
  </p>

  {% img python-morsels-full-logo /images/python-morsels-full-logo.svg 226 90 %}

</section>
