html {
    background: #663399;
}

body {
    font-family: 'Roboto', sans-serif;
}


article {
  img, video, .flash-video {
    border: none;
    @include box-shadow(none);
  }
}

blockquote { font-size: 1.0em; }

p { hanging-punctuation: allow-end; }

.aboutme-name { display: none; }

body #mc_embed_signup {
    padding-top: 1em;
    background: transparent;
    font: inherit;
    form {
        padding: 0;
    }
}


.new-collection {
    color: green;
}
.collection-type {
    color: brown;
}
.for-loop {
    color: purple;
}
.nested-for-loop {
    color: magenta;
}
.item-mutation {
    color: blue;
}
.conditional-clause {
    color: red;
}

.colored-comprehension {
    .new-collection, .item-mutation, .item, .old-collection, .condition {
        font-weight: bold;
    }
}
pre.line-numbers { display: none; }

.subscribe-email {
    display: inline-block;
    line-height: 1.25;

    padding: 0.25rem 0.5rem;

    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.2rem;

    width: 150px;
}

.subscribe-btn {
    display: inline-block;
    line-height: 1.25;

    cursor: pointer;
    user-select: none;

    padding: 0.25rem 0.5rem;

    color: #fff;
    background-color: #663399;

    border: 1px solid #663399;
    border-radius: 0.2rem;
}
.abouttrey {
    text-align: center;
}
.abouttrey p {
    text-align: left;
}
.abouttrey .headshot {
    border-radius: 100px;
    width: 200px;
    border: 4px solid #663399;
    margin-bottom: 20px;
}
.abouttrey .btn {
    background: #663399;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 10px;
}
.abouttrey .btn:hover {
    color: #fff;
}
header img {
    display: inline-block;
    width: 110px;
}
header .headerbtn {
    float: right;
    background: #fff;
    font-size: .8em;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid #ccc;
    text-decoration: none;
    margin-top: 25px;
}
header .headerbtn:hover {
    color: #663399;
    opacity: .8;
    transition: .3s;
}
aside.sidebar:hover .abouttrey .btn {
    color: #fff;
}
aside.sidebar .abouttrey .btn:hover {
    opacity: .7;
}
header hgroup {
    display: inline-block;
    position: relative;
    top: -15px;
    margin-left: 20px;
}

body>nav {
    position: relative;
    background: #eee;
    padding-top: .7em;
    padding-bottom: .7em;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
}
body>nav a, body>nav a:visited {
    font-size: 1.2em;
}
a {
    color: #663399;
}

aside.sidebar a {
    color: #663399;
}

body>nav li+li {
    border-left: 1px solid #b0b0b0;
    margin-left: .8em;
}

#content .blog-index article h1 a:hover {
    color: #663399;
}
body>nav form {
    margin-top: 5px;
}
body>footer {
    background: #eee;
}

@media only screen and (max-width: 667px) {
	.headerbtn, header img {
		display: none;
	}
	header hgroup {
	top: 0;
	margin-left: 0;
	}
}