// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article {
  img, video, .flash-video {
    border: none;
    @include box-shadow(none);
  }
}

blockquote { font-size: 1.0em; }

p { hanging-punctuation: allow-end; }

.aboutme-name { display: none; }

body #mc_embed_signup {
    padding-top: 1em;
    background: transparent;
    font: inherit;
    form {
        padding: 0;
    }
}


.new-collection {
    color: green;
}
.collection-type {
    color: brown;
}
.for-loop {
    color: purple;
}
.nested-for-loop {
    color: magenta;
}
.item-mutation {
    color: blue;
}
.conditional-clause {
    color: red;
}

.colored-comprehension {
    .new-collection, .item-mutation, .item, .old-collection, .condition {
        font-weight: bold;
    }
}
pre.line-numbers { display: none; }
