// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article {
  img, video, .flash-video {
    border: none;
    @include box-shadow(none);
  }
}

blockquote { font-size: 1.0em; }

p { hanging-punctuation: allow-end; }

.aboutme-name { display: none; }

body #mc_embed_signup {
    padding-top: 1em;
    background: transparent;
    font: inherit;
    form {
        padding: 0;
    }
}


.colored-comprehension {
    .new-collection {
        color: green;
        font-weight: bold;
    }
    .collection-type {
        color: brown;
    }
    .for-loop {
        color: purple;
    }
    .item-mutation {
        color: blue;
        font-weight: bold;
    }
    .item {
        font-weight: bold;
    }
    .old-collection {
        font-weight: bold;
    }
    .conditional-clause {
        color: red;
    }
    .condition {
        font-weight: bold;
    }
}
